body {
    /*background-image: url(zebra.jpg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: #444;
    text-align: center;
}

/*
 SPECIFICITY
 style attribute | ID | class or attribute | Elements

 Points system
 Most specificity <------------------------------> Least specificity*/

h1 {
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Roboto', sans-serif;

}

h2 {
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Slabo+27px', serif;
}

h3 {
    color: #ffffff;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}


.formatting {
  font-size: 25px;
  line-height: 2em;
  color: white;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: yellow;
  word-spacing: 30px;
  text-transform: uppercase;
}

.borderImg {
    border: 10px dashed red;
}

/*Decendant list items (any level)*/
ul li {
  color: white;
  font-size: 20px;
}

/*Any unordered list with a child list item (one level!)*/
ul > li {
  color: yellow;
}
