body {
    background-color: #C45611;
}

h1 {
    text-align: center;
    color: red;
    text-shadow: 2px 4px blue;
}

p {
    color: beige;
}

.theh2class {
    color: purple;
}

#idwillsuck {
    color: coral;
    background-color: aqua;
    border: 5px 5px pink;
}
